  body{
    .side{
      padding: 0px 5px;
    }
  }
  .side-wrap{

  .side-wrap-top{

    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 5px;
    padding-right:0px;

    img{
      max-width: 100%;
    }


  }      

    .side-menu{

      ul#menu-sidmeny{

        li{

          &:first-of-type{
            padding-top: 0px;
          }

      

            a{
                font-size: 14px;
            }



        ul.sub-menu{
              padding-left: 15px;

              li{
                padding:5px 0px;

              &:first-of-type{
                padding-top: 10px;
              }

                a{
                  font-size: 12px;
                }
              }
        }
  

      }
    }

  }
}