body{
  .side{
    position: fixed;
  }

  #referenser{
  	ul{
  		list-style: none;
  		padding-left: 0px;
  		font-weight: 300;

  		h1,h2,h3,h4,h5{
  			font-weight: initial;
  		}
  	}
  }
}

.small-col{
  width: 15%;
  max-width: 230px;
}
