@media (max-width: 1100px){
  body{

    nav{
      ul{
        padding-left: 20px;
        ul.sub-menu{
          padding-left: 15px;
          a{
            font-size: 12px;
          }
        }
      }
    }
  .project-item {
      width: calc(100%/4);
  }


}
}

@media (max-width: 900px){
  body{

    .section-wrap{

      h1{
        display:block;
      }
      width: 100%;
      margin-left: 0px;
    }


.project-item {
    width: calc(100%/3);
}

  }
}

@media (max-width: 845px){

  .side{

    height: auto;
    transition: initial;
    position: fixed;
    width: 100%;
    max-width: initial;
    background-color: white !important;

    width: 100%;
    position: fixed;

      .side-menu ul {
    display: none;
    text-align: center;
    top: 86px;
    background-color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    padding-left: 0px;
    transition: 1s all ease;
}

  }



  

}
@media (max-width: 550px){
body{

  header{



  }

  .side{
    height: 90px;

    .logo img{
      width: auto;
      max-height: 60px;
      height: auto;
    }
  }

  .project-item {
      width: calc(100%/2);
  }

}
}
